.sertificats {
    position: relative;
    background: url(../img/sertificats/bg.jpg) no-repeat 50%/cover;
    &::before {
      position: absolute;
      left: 0;
      display: block;
      content: '';
      width: 100%;
      height:100%;
      background-color: rgba(83, 177, 229, 0.8);
    }
    .title {
        padding-top: 3rem;

        position: relative;
        color: $blackColor;
        text-align: center;
    }
}
.sertificats_wrapper {
    position: relative;
    margin-top: 2.5rem;
    a {
        display: block;
        &:not(:first-child) {
            margin-top: 1.5rem;
        }
    }
}

@media (min-width: $md) {
    .sertificats_wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 1rem;
        a {
            &:not(:first-child) {
                margin-top: 0;
            }
        }
    }
}
@media (min-width: $xl) {
    .sertificats_wrapper {
        padding-block: 4rem;
    }
}
