.staff {
  position: relative;
  padding-block: 3rem;
  background-color: rgba(83, 177, 229, 0.97);
  text-align: center;
  color: #fff;
  .decor_image {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  .title {
    padding-top: 3rem;
    font-size: 1.75em;
  }

  p {
    margin-top: 2rem;
    font-size: 0.85em;
    color: rgba(255,255,255,0.5);
  }
}

 @media(min-width: $lg) {
  .staff {
    text-align: left;
    .title {
      width: 75%;
    }
  }
 }
 
 