.trend {
  position: relative;
  padding-block: 3rem;
  background: url(../img/trend/bg.jpg) repeat center / auto;
  background-position-y: 35px;
  text-align: center;

  &::before {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(9, 92, 165, 0.86);
  }

  .title {
    position: relative;
    padding-inline: 1rem;
    position: relative;
    color: $whiteColor;

    &::before {
      position: absolute;
      left: 50%;
      bottom: -50%;
      display: block;
      content: '';
      width: 1em;
      height: 1em;
      background: url("data:image/svg+xml,%3Csvg class='svgicon' id='svg39' preserveAspectRatio='xMidYMid meet' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Crect x='0' y='0' width='128' height='128' style='fill: transparent' rx='50%25' ry='50%25'%3E%3C/rect%3E%3Cg transform='scale(0.6) translate(42.66666666666667, 42.66666666666667)'%3E%3Cpath class='st0' d='M64,98.634c-0.887,0-1.727-0.393-2.297-1.07L8.537,34.296c-0.75-0.893-0.914-2.139-0.422-3.195 c0.492-1.059,1.553-1.734,2.719-1.734h26.582c0.887,0,1.727,0.393,2.297,1.07L64,59.337l24.285-28.9 c0.57-0.678,1.41-1.07,2.297-1.07h26.582c1.166,0,2.227,0.676,2.721,1.734c0.492,1.057,0.326,2.303-0.424,3.195L66.297,97.563 C65.727,98.241,64.885,98.634,64,98.634z' fill='%2353b1e5'%3E%3C/path%3E%3C/g%3E%3C/svg%3E") no-repeat 50% / contain;
      transform: translateX(-50%);
    }
  }
}

.trend_wrapper {
  position: relative;
  margin-top: 6rem;
}

.trend_wrapper_item {
  &:not(:first-child) {
    margin-top: 3rem;
  }
}

.view_block__video {
  iframe {
    width: 100%;
    min-height: 280px;
    border-radius: 5px;
  }
}

.description_block {
  color: $whiteColor;

  h3 {
    font-size: 1.25rem;
  }

  span {
    display: inline-block;
    margin-block: 1rem;
    font-weight: 700;
  }

  ul {
    text-align: left;

    li {
      position: relative;
      padding-left: 1.5rem;

      &::before {
        position: absolute;
        left: 0;
        top: 0.3rem;
        display: block;
        content: '';
        width: 1rem;
        height: 1rem;
        background: url(../img/trend/check.png) no-repeat 50% / contain;
      }
    }
  }
}

.trend_link {
  display: block;
  padding: 15px 40px;
  margin-top: 2rem;
  font-family: 'Nunito Bold', sans-serif;
  font-size: 13px;
  color: rgb(83, 177, 229);
  background-color: rgba(83, 177, 229, 0);
  border: 2px solid rgb(83, 177, 229);
  text-transform: uppercase;
}

.trend_slider--main {
  img {
    border-radius: 5px;
  }
  .swiper-button {
    top: 0;
    width: 20%;
    height: 100%;
    margin-top: 0;
    color: rgb(255, 255, 255, 0.5);
    &::after {
      font-size: 2rem;
    }
  }
  .swiper-button-prev {
    left: 0;
  }
  .swiper-button-next {
    right: 0;
  }
}

.trend_slider {
  padding-block: 0.25rem;

  .swiper-slide {
    opacity: 0.4;

    img {
      border-radius: 5px;
    }
  }
}

.trend_slider {
  .swiper-slide-thumb-active {
    opacity: 1;
  }
}

@media (min-width: $md) {
  .trend {
    padding-block: 4rem;

    .title {
      &::before {
        bottom: -100%;
      }
    }
  }

  .trend_wrapper_item {
    &:not(:first-child) {
      margin-top: 4rem;
    }
  }

  .view_block__video {
    margin-left: auto;

    iframe {
      min-height: 380px;
    }
  }
}

@media (min-width: $xl) {
  .trend {
    padding-block: 5rem;

    .title {
      &::before {
        bottom: -100%;
      }
    }
  }

  .trend_wrapper_item {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 1;
    gap: 2.5rem;
    // align-items:center;
  }

  .trend_wrapper_item {
    &:nth-child(even) {
      .view_block {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }

      .description_block {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
    }
  }

  .trend_wrapper_item {
    .view_block {
      align-self: center;
    }
  }

  .trend_slider--main {
    .swiper-button {
      &:hover {
        background-color: rgba(0, 0, 0, 0.5);
        color: rgb(255, 255, 255);
      }
    }
  }
  
  

}