@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/dist/montserrat-regular.woff2"), url("../fonts/dist/montserrat-regular.woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/dist/montserrat-medium.woff2"), url("../fonts/dist/montserrat-medium.woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/dist/montserrat-bold.woff2"), url("../fonts/dist/montserrat-bold.woff");
}
@font-face {
  font-family: "Nunito Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/dist/TTNorms-Bold.woff2"), url("../fonts/dist/nunito-bold.woff");
}

@font-face {
  font-family: "TTNorms-Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/dist/TTNorms-Bold.woff2"), url("../fonts/dist/TTNorms-Bold.woff");
}

