// sizes
$sm: 320px;
$md: 768px;
$lg: 1024px;
$xl: 1170px;
$xxl: 1400px;
$hd: 1920px;

.title-size {
    &--sm {
        font-size: 20px;
        font-weight: bold;
    }
    &--md {
        font-size: 20px;
        font-weight: bold;
    }
    &--lg {
        font-size: 36px;
        font-weight: bold;
    }
    @media (min-width: $md) {
        &--sm {
            font-size: 24px;
        }
        &--md {
            font-size: 30px;
        }
        &--lg {
            font-size: 36px;
        }
    }
    @media (min-width: $xl) {
          &--sm {
              font-size: 28px;
          }
          &--md {
              font-size: 40px;
          }
          &--lg {
              font-size: 36px;
          }
  }
  
}



// text-sizes
.text-size {
    &--sm {
      font-size: 12px;
    }
    &--md {
      font-size: 14px;
    }
    &--lg {
      font-size: 16px;
    }

    @media (min-width: $md) {
        &--sm {
          font-size: 14px;
        }
        &--md {
          font-size: 16px;
        }
        &--lg {
          font-size: 19px;
        }
    }

    @media (min-width: $xl) {
          &--sm {
            font-size: 15px;
          }
          &--md {
            font-size: 24px;
          }
          &--lg {
            font-size: 20px;
          }
    }
}
